/* assets/custom.css */

html, body {
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
}
body {
    background-color: #2F2A46;
}
.custom-pane {
    padding: 5px;
    background-color: #211D35;
}
.transparent-pane {
    margin: 5px;
    background: transparent !important;
    box-shadow: none;
}
.custom-style {
    background-color: #3D4654;
    color: #0DFFFF;
    border: 2px solid #3D4654;
    border-radius: 5px;
    padding: 5px;
    font-family: 'Fira Mono', 'Consolas', 'Monaco', monospace !important;
    font-size: 20px;
}
.custom-style:hover {
    background-color: #211D35;
}
.custom-style input {
    background-color: #3D4654;
    color: #8D8A8A;
    border: none;
}
.custom-style input:focus {
    background-color: #3D4654;
    outline: none;
}
.custom-button {
    background-color: #C71585;
    color: #0DFFFF;
    border: 2px solid #C71585;
    border-radius: 2px;
    padding: 5px 5px;
    font-family: 'Fira Mono', 'Consolas', 'Monaco', monospace !important;
}
.custom-button button {
    background-color: #2F2A46 !important;
    color: #FFF !important;
    border: 2px solid #C71585 !important;
}
.custom-button button:hover,
.custom-button button:focus {
    background-color: #3A2E6B !important;
    color: #0DFFFF !important;
}
.custom-button:active {
    background-color: #2D1C47;
    border-color: #2D1C47;
}